---
title: Page name
subtitle: Columns template
description: Test description
---

{% extends "topbar.j2" %}

{% block content %}
      <!-- Main hero unit for a primary marketing message or call to action -->
    <div class="page-header">
  {% block header %}
  <h1>
    {% block page_title %}{{ resource.meta.title }}{% endblock %}
    {% if resource.meta.subtitle %}<small>{% block page_subtitle %}{{ resource.meta.subtitle }}{% endblock %}</small>{% endif %}
  </h1>
  {% endblock header %}
</div>
      <!-- Example row of columns -->
 
 
      <div class="row">
        <div class="span8">
          <h2>Heading</h2>
           <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
        </div>
        <div class="span4">
        <h3>Sidebar content</h3>
		<p>No markdown applied here so you can do as you please.</p>
	
		<strong>Now for some <a href="http://hipsteripsum.me/">hipster ipsum</a></strong>:
		<p>Locavore vice etsy, sustainable salvia gentrify yr cardigan keffiyeh. Bicycle rights fanny pack sartorial, lomo raw denim synth wayfarers sustainable 8-bit squid cred helvetica DIY aesthetic. Farm-to-table gluten-free PBR synth stumptown, next level lo-fi wes anderson banksy food truck salvia. Keytar single-origin coffee echo park you probably haven't heard of them, 8-bit Austin twee 3 wolf moon shoreditch yr food truck. Master cleanse cosby sweater sustainable next level. Next level single-origin coffee farm-to-table seitan mcsweeney's. Beard four loko cardigan photo booth.</p>
        </div>
      </div>

      <hr>
{%endblock content %}
